body,section,div{
    margin: 0;
}

body{
    background-color:#fefefe;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section.login-left{
    position:sticky;
    display:flex;
    float:left;
    height:100vh;
    position:relative;
    user-select:none;
    overflow: hidden;
    z-index:1;
    width:30%;
}
section.login-right{
    display:block;
    float:right;
    width:68vw;
    height:100vh;
    position:relative;
    user-select:none;
    z-index:0;
}
div.login-top{
    display:block;
    float:right;
    position:relative;
    text-align:right;
    user-select:none;
    overflow:hidden;
    padding:32px;
    height:4vh;
    width:100%;
}
div.login-top a{
    font-size:24px;
    margin-right:20px;
}
.login-form{
    position:relative;
    float:left;
    margin-left:20%;
}
.login-form>H1{
    font-size:48px;
    margin-bottom:0px;
}
.login-form>H2{
    margin-top:12px;
    font-size:32px;
    color:grey;
    font-weight:normal;
}
.login-form>H3{
    margin-top:12px;
    font-size:16px;
    color:grey;
    font-weight:bold;
}
.login-form a{
    color: black;
    font-family:inherit;
    font-size:16px;
    font-weight: bold;
    margin-top:20px;
}
.input-class{
    width:480px;
    height:auto;
    padding:8px;
    border-radius: 12px;
    outline:1px rgba(0,0,0,1);
    border: 1px solid rgba(136, 136, 136, 0.719);
    font-family:inherit;
    font-size:20px;
    color:rgba(136, 136, 136, 0.719);
    margin: 8px 0 24px 0;
}
.input-class--active{
    color:black;
    font-weight: bold;
    background-color: white;
    border-color:rgb(118, 72, 226);
}
.input-class--error{
    background-color:rgba(228, 52, 52, 0.248);
    border-color:rgba(228, 52, 52, 1);
}
.button-class{
    font-family:inherit;
    font-size: 20px;
    background-color:rgb(76, 43, 226);
    padding:12px;
    border-radius: 30px;
    color:#fff;
    cursor:pointer;
    margin:0;
    font-weight: lighter;
    border:none;
}
.button--login{
    width: 120px;
}
.button--signup{
    margin-top:30px;
    width: 480px;
}
.modal{
    position:absolute;
    display:block;
    height:100px;
    width:400px;
    background-color:#efefef;
    text-align:center;
    font-size:32px;
    margin:0 auto;
    padding-top:15px;
    outline: 2px solid rgb(76, 43, 226);
    border-radius:24px;
    box-shadow: 2px 2px 40px 10px lightgrey;
    top:-12%;
    right:20%;
    color:#545454;
    text-shadow: 1px 1px 20px grey;
}
.external-account{
    display:inline;
    background-color:none;
    width:45px;
    height:45px;
    float:left;
    margin-right:20px;
    cursor:pointer;
}
.external-account>a>img{
    width:100%;
}

/* ==== Students interface ==== */
section.ui-body {
    position:absolute;
    background-color:#f8f9fd;
    width:100%;
    Height:100%;
    user-select:none;
}
.text-main {
    float:left;
    margin: 20px 40px 40px 40px;
    font-family:inherit;
    font-size:42px;
    font-weight: bold;
}
div.navigation>ul>li{
    display:inline;
    float:left;
    position:relative;
    list-style: none;
    margin: 0 20px 0 0;
    padding: 13px 0 0 0;
}
.navigation-button{
    display:block;
    width:120px;
    font-size:28px;
    font-weight:600;
    cursor:pointer;
    color:#656565;
    transition:0.5s;
}
.navigation-button--hover{
    color:#8f6fca;
    text-shadow: 1px 1px 10px #afa4c5;
    transition:0.2s;
}
.navigation-button--active{
    color:rgb(76, 43, 226);
}
.navigation-button__indicator{
    display:none;
    position:absolute;
    content:"";
    width:40px;
    height:4px;
    border-radius:20%;
    right:48%;
    text-align: center;
    background-color:rgb(76, 43, 226);
}
div.user-panel{
    display:flex;
    float:right;
    padding:10px;
    margin: 20px 40px 40px 0;
}
.user-panel>.user-panel--icon{
    height:45px;
    width:45px;
    border-radius:50%;
    overflow:hidden;
    cursor:pointer;
    text-align: center;
    margin:12px 32px 0 0;
}
.user-panel>.user-panel--icon>img{
    display:inline;
    height:80%;
    width:80%;
    margin-top: 4px;
}