body,section,div{
    margin: 0;
}

body{
    background-color:#fefefe;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section.login-left{
    position:sticky;
    display:flex;
    float:left;
    height:100vh;
    position:relative;
    user-select:none;
    overflow: hidden;
    z-index:1;
    width:30%;
}
section.login-right{
    display:block;
    float:right;
    width:68vw;
    height:100vh;
    position:relative;
    user-select:none;
    z-index:0;
}
div.login-top{
    display:block;
    float:right;
    position:relative;
    text-align:right;
    user-select:none;
    overflow:hidden;
    padding:32px;
    height:4vh;
    width:100%;
}
div.login-top a{
    font-size:24px;
    margin-right:20px;
}
.login-form{
    position:relative;
    float:left;
    margin-left:20%;
}
.login-form>H1{
    font-size:48px;
    margin-bottom:0px;
}
.login-form>H2{
    margin-top:12px;
    font-size:32px;
    color:grey;
    font-weight:normal;
}
.login-form>H3{
    margin-top:12px;
    font-size:16px;
    color:grey;
    font-weight:bold;
}
.login-form a{
    color: black;
    font-family:inherit;
    font-size:16px;
    font-weight: bold;
    margin-top:20px;
}
.input-class{
    width:480px;
    height:auto;
    padding:8px;
    border-radius: 12px;
    outline:1px rgba(0,0,0,1);
    border: 1px solid rgba(136, 136, 136, 0.719);
    font-family:inherit;
    font-size:20px;
    color:rgba(136, 136, 136, 0.719);
    margin: 8px 0 24px 0;
}
.input-class--active{
    color:black;
    font-weight: bold;
    background-color: white;
    border-color:rgb(118, 72, 226);
}
.input-class--error{
    background-color:rgba(228, 52, 52, 0.248);
    border-color:rgba(228, 52, 52, 1);
}
.button-class{
    font-family:inherit;
    font-size: 20px;
    background-color:rgb(76, 43, 226);
    padding:12px;
    border-radius: 30px;
    color:#fff;
    cursor:pointer;
    margin:0;
    font-weight: lighter;
    border:none;
}
.button--login{
    width: 120px;
}
.button--signup{
    margin-top:30px;
    width: 480px;
}
.modal{
    position:absolute;
    display:block;
    height:100px;
    width:400px;
    background-color:#efefef;
    text-align:center;
    font-size:32px;
    margin:0 auto;
    padding-top:15px;
    outline: 2px solid rgb(76, 43, 226);
    border-radius:24px;
    box-shadow: 2px 2px 40px 10px lightgrey;
    top:-12%;
    right:20%;
    color:#545454;
    text-shadow: 1px 1px 20px grey;
}
.external-account{
    display:inline;
    background-color:none;
    width:45px;
    height:45px;
    float:left;
    margin-right:20px;
    cursor:pointer;
}
.external-account>a>img{
    width:100%;
}

/* ==== Students interface ==== */

section.ui-body {
    position:absolute;
    background-color:#F4F4F4;
    width:100%;
    Height:100%;
    user-select:none;
}
.text-main {
    float:left;
    margin: 20px 40px 40px 40px;
    font-family:inherit;
    font-size:42px;
    font-weight: bold;
}
div.navigation>ul>li{
    display:inline;
    float:left;
    position:relative;
    list-style: none;
    margin: 0 20px 0 0;
    padding: 13px 0 0 0;
}
.navigation-button{
    display:block;
    width:120px;
    font-size:28px;
    font-weight:600;
    cursor:pointer;
    color:#656565;
    transition:0.5s;
}
.navigation-button--hover{
    color:#8f6fca;
    text-shadow: 1px 1px 10px #afa4c5;
    transition:0.2s;
}
.navigation-button--active{
    color:rgb(76, 43, 226);
}
.navigation-button__indicator{
    display:none;
    position:absolute;
    content:"";
    width:40px;
    height:4px;
    border-radius:20%;
    right:48%;
    text-align: center;
    background-color:rgb(76, 43, 226);
}
div.user-panel{
    display:flex;
    float:right;
    padding:10px;
    margin: 0px 40px 40px 0;
}
.user-panel>.user-panel-icon{
    height:45px;
    width:45px;
    border-radius:50%;
    overflow:hidden;
    cursor:pointer;
    text-align: center;
    margin:8px 32px 0 0;
}
.user-panel>.user-panel-icon>img{
    display:inline;
    height:80%;
    width:80%;
    margin-top: 4px;
}
.user-panel-menu--min>div{
    height:60px;
    width: 60px;
    border-radius:50%;
    overflow:hidden;
    cursor:pointer;
    text-align: center;
    margin:2px 0px 0 0;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.348);
}
.user-panel-menu--min>div>img{
    display:block;
    width:120%;
    margin-top: -12px;
    position:relative;
    float:left;
}
.user-panel-menu--min>img{
    display:inline;
    position:relative;
    padding:0;
    margin: 0 auto;
    top:-50%;
    right:-50%;
    width:30px;
    height:auto;
    float:right;
    cursor:pointer;
}
section.main-ui-section{
    position:absolute;
    background:white;
    left:2%;
    top:16%;
    width:94%;
    height:77%;
    border-radius: 40px;
    padding:20px;
}
.button-class--addstudent{
    width:220px;
}
.students-table{
    position:relative;
    float:left;
    width:60%;
    height:75%;
}
.students-table>thead>tr>th{
    text-align:left;
    padding:30px 0 0 0;
    line-height: 30px;
    font-weight:bold;
    color:#aaa;
}
.students-table>tbody>tr>td{
    border-bottom: 1px solid #ddd;
    padding: 7px 0 7px 0;
    width:30%;
}
.students-table>tbody>tr>td>a{
    font-size:16px;
    display:inline-block;
    white-space: nowrap;
    overflow: hidden;
    font-weight:bolder;
    text-overflow:ellipsis;
    user-select:text;
}
.student-data--name{
    width:80%;
}
.student-data--email{
    width:63%;
}
.student-data--subject{
    color:rgb(231, 182, 47);
}
div.students-sheet{
    float:right;
    width:25%;
    height:70vh;
    background-color:#f1f1f1;
    border-radius:4%;
}
.students-sheet-image{
    height:150px;
    width:150px;
    border-radius:50%;
    margin:0 auto;
    position:relative;
    left:8%;
    overflow:hidden;
    margin-top:20px;
    box-shadow: 0 0 8px darkgrey;
}
.students-sheet-image>img{
    position:relative;
    height:160%;
    top:-20%;
}
.students-sheet--name{
    margin:20px 0 12px 0;
    display:block;
    width:100%;
    cursor:unset;
    text-align:center;
}
.students-sheet--name>a{
    font-family: inherit;
    font-size:30px;
    font-weight:bold;
}
.students-sheet--contact{
    display:block;
    width:100%;
    cursor:unset;
    text-align:center;
}
.students-sheet--contact>a{
    font-family: inherit;
    font-size:16px;
    color:rgb(160, 160, 160);
    line-height: 24px;
}
.students-sheet__overview{
    height:38%;
    margin:40px 0 0 30px;
    font-family: inherit;
    font-size:20px;
    font-weight:600;
}
.Exit{
    position:relative;
    float:right;
    text-align: right;
    margin-right:5%;
    width:10%;
    font-family:inherit;
    font-size:20px;
    font-weight:bolder;
    color:black;
    cursor:pointer;
}